<div class="sm-container">
  <h1>Edit <%= @restaurant.name %> Details</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <div>
    <form action="/restaurants/<%= @restaurant.id %>" method="POST" id="new-restaurant">
      <input type="hidden" name="_method" value="PUT">
      <label for="name">Name:</label>
      <input type="text" name="restaurant[name]" id="name" value="<%= @restaurant.name  %>">
      <label for="cuisine">Cuisine:</label>
      <input type="text" name="restaurant[cuisine]" id="cuisine" value="<%= @restaurant.cuisine  %>">
      <label for="address">Address:</label>
      <input type="text" name="restaurant[address]" id="address" value="<%= @restaurant.address  %>">
      <label for="city">City:</label>
      <input type="text" name="restaurant[city]" id="city" value="<%= @restaurant.city  %>">
      <label for="state">State:</label>
      <input type="text" name="restaurant[state]" id="state" value="<%= @restaurant.state  %>">
      <label for="zipcode">Zipcode:</label>
      <input type="text" name="restaurant[zipcode]" id="zipcode" value="<%= @restaurant.zipcode  %>">
      <input type="submit" value="Edit Restaurant Details">
    </form>
  </div>
</div>
